# Standards: 0.11
---

# 1.5.2 Ensure address space layout randomization (ASLR) is enabled

- name: 1.5.2 - Enable space layout randomization
  sysctl:
    ignoreerrors: yes
    name: kernel.randomize_va_space
    value: 2
    state: present
  tags:
    - level-1
    - "1.5.2"
    - scored

